In [3]:
import json

In [5]:
with open('./members_raw_response3.json', 'r') as f:
    rr = json.load(f)

len(rr)

855000

In [6]:
import pandas as pd

target_df = pd.read_csv('./members_df.csv')
with open('./members_raw_response4.json', 'r') as f:
    raw_addition_df = json.load(f)
add_df = pd.DataFrame(raw_addition_df)

In [17]:
add_df

,user_id_vk,deactivated,first_name,last_name,can_access_closed,is_closed,city,last_seen,bdate,mobile_phone,home_phone
0,48,banned,Misha,Melnikov,True,False,NaN,NaN,NaN,NaN,NaN
1,1018,NaN,Yarik,Burim,False,True,"{'id': 2, 'title': 'Saint Petersburg'}","{'platform': 1, 'time': 1613708136}",NaN,NaN,NaN
2,1185,banned,Alexey,Mogilov,True,False,NaN,NaN,NaN,NaN,NaN
3,1721,banned,Maxim,Lotsoka,True,False,NaN,NaN,NaN,NaN,NaN
4,2136,NaN,Yaroslav,Tekhnik,True,False,"{'id': 122, 'title': 'Ryazan'}","{'platform': 2, 'time': 1664478806}",23.10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
854995,796250689,NaN,Evgeny,Nikolaevich,True,False,NaN,"{'platform': 1, 'time': 1715261614}",30.12.1993,,
854996,796254657,NaN,Ramon,Andropov,True,False,NaN,"{'platform': 4, 'time': 1716195628}",12.11.1992,,
854997,796261983,NaN,Coolwalk,Qin,True,False,"{'id': 1, 'title': 'Moscow'}","{'platform': 2, 'time': 1706206448}",1.3.1973,89258831000,
854998,796269642,banned,Arkady,Komlev,True,False,NaN,NaN,NaN,NaN,NaN
854999,796275331,NaN,Nikolay,Fyodorov,False,True,NaN,NaN,NaN,NaN,NaN

In [18]:
# merged_df = pd.merge(target_df, add_df[['user_id_vk', 'bdate']], on='user_id_vk', how='left')
# merged_df.to_csv('./members_df.csv', index=False)

In [2]:
len(target_df)

612613

In [75]:
target_df['friends_count'].iloc[0:5]

0      70.0
1    1227.0
2     176.0
3    1295.0
4     123.0
Name: friends_count, dtype: float64

In [16]:
for i in range(0, 100+1, 10):
    print(i)

0
10
20
30
40
50
60
70
80
90
100

In [9]:
for i in range(0, 12, 5):
    print(i)

0
5
10

In [26]:
import time

In [57]:
begin = time.time()
time.sleep(0.5)
end = time.time()
time.sleep(1 - (end - begin))

In [59]:
(end - begin)

0.5009992122650146

In [56]:
bool(-1)

True